*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #000;
  background: #fff;
  line-height: 1.3;
  margin: 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.logo-block {
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.logo {
  display: inline-block;
  background: #fff 100%;
}

.sidebar {
  background: #242b2e;
  text-align: right;
}

.main-nav {
  border-bottom: 1px solid #293034;
  background: linear-gradient(to top, #2e363a, #333b3f);
}

.main-nav-link {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  padding:  18px 24px;
  width: 100%;
  transition: background-color 0.4s;
}

.main-nav-link:hover {
  background-color: #26b1af;
  border: none;
}

.filter-block {
  padding-right: 24px;
  border: 1px solid #1e282b;
  padding-bottom: 20px;
}

.filter {
  font-size: 19px;
  font-weight: 100;
  color: #1ab5b3;
}

.filter::after {
  content: "";
  display: inline-block;
  width: 17px;
  height: 15px;
  background: url(../images/filter.png) no-repeat;
  margin-left: 5px;
}

.form-row {
  font-size: 13px;
  font-weight: 300;
  color: #6b7072;
  margin: 10px 0 0 0;
}

input {
  display: none;
}

input:checked+label {
  color: #fff;
  text-transform: capitalize;
}

.footer {
  padding: 24px;
}

.socials {
  font-family: 'Font Awesome';
  color: #fff;
  font-size: 24px;
  padding: 0 5px;
}

.socials:hover {
  color: #22adab;
}

.footer-text {
  font-size: 12px;
  font-weight: 100;
  color: #6b7072;
}
.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.view {
  position: relative;
  width: auto;
  float: left;
  overflow: hidden;
  text-align: center;
}

.view .mask,
.view .content {
  position: absolute;
  overflow: hidden;
}

.gallery img {
  position: relative;
  display: block;
  width: 100%;
  float: left;
}

.mask {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background: rgba(46, 185, 183, 0.863);
}

.mask-title {
  color: #fff;
  font-weight: 300;
  font-size: 24px;
  margin: 0;
}

.mask-subtitle {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  margin: 15px;
  padding: 0 0 10px;
  border-bottom: 1px solid #fff;
}

.mask-link {
  font-size: 18px;
  color: #fff;
  padding: 15px 20px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.view-first img {
  transition: all 0.2s ease-in;
}

.view-first .mask {
  transform: translate(200px, -200px) rotate(45deg);
  transition: all 0.2s ease-in;
}

.view-first h2 {
  transform: translateX(-300px) rotate(90deg);
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.view-first p {
  transform: translateX(300px) rotate(90deg);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.view-first a {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.view-first:hover .mask {
  opacity: 1;
  transform: translateY(0) rotate(0);
}

.view-first:hover h2,
.view-first:hover p {
  opacity: 1;
  transform: translateY(0px);
}

.view-first:hover a {
  opacity: 1;
  transform: translateY(0);
}

.view-second img {
  transition: all 0.3s ease-in;
}

.view-second .mask {
  transition: all 0.5s ease-in-out;
}

.view-second h2 {
  transform: translateX(-100px);
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.view-second p {
  transform: translateX(100px);
  opacity: 0;
  transition: all 0.5s ease-out;
}

.view-second a {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.8s ease-out;
}

.view-second:hover .mask {
  opacity: 1;
}

.view-second:hover h2,
.view-second:hover p {
  opacity: 1;
  transform: translateY(0px);
}

.view-second:hover a {
  opacity: 1;
  transform: translateY(0);
}

.view-third img {
  transition: all 0.3s ease-in;
}

.view-third .mask {
  transition: all 0.5s ease-in-out;
}

.view-third h2 {
  transform: scale(0);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.view-third p {
  transform: scale(0);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.view-third a {
  transform: scale(0);
  opacity: 0;
  transition: all 0.8s ease-in-out;
}

.view-third:hover img {
  transform: scale(0);
}

.view-third:hover .mask {
  opacity: 1;
}

.view-third:hover h2,
.view-third:hover p {
  opacity: 1;
  transform: scale(1);
}

.view-third:hover a {
  opacity: 1;
  transform: scale(1);
}


.view-fourth img {
  transition: all 0.4s ease-in-out;
}

.view-fourth .mask {
  transition: all 0.5s ease-in-out;
}

.view-fourth h2 {
  transform: translateY(-100px);
  transition: all 0.6s ease-in-out;
  opacity: 0;
}

.view-fourth p {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.view-fourth a {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.view-fourth:hover img {
  transform: scale(0) rotate(360deg);
}

.view-fourth:hover .mask {
  opacity: 1;
}

.view-fourth:hover h2,
.view-fourth:hover p {
  opacity: 1;
  transform: translateY(0);
}

.view-fourth:hover a {
  opacity: 1;
  transform: translateY(0);
}